
/* To add a glow */
.shop-item:hover {
    /* fade the div */
    opacity: 0.5;
    scale: 1.01;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.shop-item .shop-item-info {
    margin-top: 1rem;
}