
/* .shop-item {
    width: 100%;
}

.shop-item > div {
    width: 100%;
} */
/* To add a glow */
.shop-item:hover {
    /* fade the div */
    opacity: 0.5;
    scale: 1.01;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.shop-item .shop-item-info {
    margin-top: 1rem;
}

.shop-item-img {
    width: 100%;
}

.shop-item-img img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .shop-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        text-align: center;
    }
}