#target-audience {
    padding-top: 4rem;
    margin-top: 0;

}

#target-audience .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#target-audience .left-side {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#target-audience .right-side {
    background-image: url("https://images.squarespace-cdn.com/content/v1/61a46cc601b4c521a42206d3/1645248046833-OM3EL5XT9ZNDQ3EW2RZE/Night3-A.jpeg?format=750w");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.checklist-container .checklist {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#target-audience h2 {
    display: block;
    background-color: transparent;
    font-size: 3rem;
    text-align: center;
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Helvetica-w01-light', sans-serif; */
    padding: 0;
}

#target-audience p {
    font-size: 1.25rem;
}

#target-audience button {
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    transition: all 0.2s ease-out;
    box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, 0);
    /* top: 0; */
}

#target-audience button:disabled {
    background-color: gray;
    filter: blur(1px);
    cursor: not-allowed;
    transform: translateY(0);
    /* top: 0; */
}

#target-audience button:not(:disabled) {
    /* position: relative; */
    transform: translateY(-3px);
    background-color: #feeb22;
    color: black;
    top: -3px;
    box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
}

@media screen and (max-width: 768px) {
    #target-audience .content-wrapper {
        grid-template-columns: 1fr;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    #target-audience h2 {
        font-size: 2.5rem;
    }

    #target-audience .right-side {
        display: none;
    }
}