#faq {
    margin-top: 0;
    padding-top: 16rem;
}

#faq h2 {
    font-family: 'Inconsolata', monospace;
    background-color: transparent;
    display: block;
    text-align: center;
}

.faq-questions-container {
    display: flex;
    gap: 2rem;
}

.faq-group {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .faq-group {
        width: 100%;
    }

    .faq-questions-container {
        flex-direction: column;
        gap: 0;
    }

    .faq-item:first-child {
        margin-top: 0;
    }

}
