.preset-desc-page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f1f2;
    padding: 8rem 2rem;
    row-gap: 16rem;
    column-gap: 2rem;
    place-items: center;
}

.preset-desc-page a {
    text-decoration: none;
    color: black;
}

.preset-desc-page-content .img-container {
    width: 100%;
    text-align: center;
}

.preset-desc-page-content .img-container img {
    width: 80%;
    max-width: 80%;
}

.preset-desc-page-content .carousel-img-container {
    width: 80%;
    text-align: center;
}

.preset-desc-page-content .carousel-img-container img {
    width: 80%;
    max-width: 80%;
}

.preset-desc-page-content h1 {
    font-size: 1.75rem;
}

.preset-desc-page-content h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.preset-desc-page-content swiper-container {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.preset-desc-page-content swiper-slide {
    width: 100%;
}

.preset-desc-page-content .second-row-desc {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
}

.preset-desc-page-content .carousel {
    width: 100%;
    max-width: 100%;
}

.preset-desc-page-content .preset-name-price {
    text-align: center;
    align-self: center;
}

.whats-included {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    width: 75%;
}

.whats-included ul {
    list-style: none;
    padding: 0;
}

.preset-desc-page-content .mobile-back-to-btn {
    display: none;
}


@media screen and (max-width: 768px) {
    .preset-desc-page-content {
        grid-template-columns: 1fr;
        gap: 4rem;
        padding: 10rem 0rem 4rem 0;
        background-color: transparent;
    }

    .preset-desc-page-content .mobile-back-to-btn {
        display: flex;
        align-items: center;
    }

    /* .preset-desc-page-content > a:first-child {
        height: fit-content;
    } */

    .preset-desc-page.page-section {
        margin-bottom: 0rem;
        text-align: center;
    }

    .preset-desc-page .back-to-btn {
        display: none;
    }

    .preset-desc-page-content .preset-desc-page-img:nth-child(1) {
        order: 2;
    }

    .preset-desc-page-info.preset-name-price {
        order: 1;
    }

    .second-row-desc {
        order: 3;
    }

    swiper-container {
        order: 4;
    }

    .whats-included {
        order: 5;
    }

    .grid-last-item {
        order: 6;
    }

    .preset-desc-page-content .carousel-img-container {
        width: 90%;
        text-align: center;
    }
}