.header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    margin-bottom: 4rem;
    font-family: 'Foundation Sans';
}

.header .user-directory {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header .user-directory svg {
    font-size: 2rem;

}
.header .user-directory .icon-wrapper:hover {
    cursor: pointer;
    background-color: #feeb22;
}

.header .logo, .header .user-directory {
    z-index: 2;
}

.header .user-directory > *:not(:last-child) {
    margin-right: 2rem;
}

.header .logo {
    height: 3rem;
}

.header .logo img {
    height: 100%;
}

.header .logo img:hover {
    background-color: #feeb22;
}

.header .logo a:hover {
    background-color: transparent;
}

.header > *{
    width: 25%;
} 

/* .header > div:nth-child(2){
    text-align: center;
} */

.header .user-directory {
    text-align: end;
}

.header span {
    padding: 0.25rem 0.1rem;
    font-size: 1.25rem;
}

.header span:hover {
    cursor: pointer;
    background-color: #feeb22;
}

.user-directory span{
    margin: 0 0 0 0rem;
}

.user-directory span:last-child {
    margin: 0 0 0 3rem;
}

/* Login mockup */
#mock-log {
    display: none;
}