.cart-item {
    display: flex;
    justify-content: space-between;
}

.cart-item.remove {
    display: none;
}

.cart-item .image-wrapper {
    width: 30%;
    margin-right: 1rem;
}

.cart-item .image-wrapper img {
    width: 100%;
}

.cart-item .item-details .product-number {
    color: #999;
}

.cart-item .image-and-details {
    display: flex;
}

.cart-item .remove-button svg {
    padding: 1rem;
    cursor: pointer;
}

.cart-item .remove-button svg:hover {
    color: #999;
}