.module-preview {
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    height: 150px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 1rem;
    grid-gap: 1rem;
    background-color: white;
    margin-bottom: 1.5rem;
}

.module-preview:hover {
    cursor: pointer;
}

.module-preview.disabled .module-preview-img-container, .module-preview.disabled .module-preview-info {
    opacity: 0.5;
    filter: blur(1px);
}

/* .module-preview.disabled {
    opacity: 0.5;
    filter: blur(1px);
} */

.module-preview svg {
    display: none;
}

.module-preview.disabled svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.module-preview.active {
    background-color: #f2f1f2;
}

.module-preview-info {
    width: 100%;
}

.module-preview-img-container {
    width: 100%;
    height: 100%;
    background-color: #f2f1f2;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .module-preview {
        align-items: center;
        min-height: 140px;
        height: fit-content;
    }

    .module-preview h3 {
        margin: 0;
    }

    .module-preview-info p {
        display: none;
    }
    
}