.module-view {
    display: grid;
    grid-template-columns: 5fr 6fr;
    height: 100%;
    max-height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.module-view > * {
    padding: 3rem 3rem 0 3rem;
}

.module-filters {
    margin-bottom: 1.5rem;
}

.module-filters .active {
    font-weight: bold;
}

.module-view h1 {
    margin-bottom: 2rem;
}

.module-view-left-side ul {
    display: flex;
    list-style: none;
    padding: 0;
    max-height: 100vh;
}

.module-view-left-side li {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-right: 2rem;
    overflow-y: hidden;
}

.modules-container {
    width: 100%;
    max-height: 80vh;
    overflow-y: scroll;

}

.module-content {
    overflow-y: scroll;
    height: calc(100% - 3rem);
}

.module-content .video-player-wrapper {
    border-radius: 30px;
    overflow: hidden;
    height: 450px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.module-content h1 {
    font-size: 2rem;
}

.module-content h2 {
    background-color: transparent;
    padding: 0;
    margin: 1rem 0;
}