.shop-nav {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

}

.shop-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
    width: 75%;
    flex-wrap: wrap;
}

.shop-nav ul > li {
    width: 9rem;
    text-align: center;
    padding: 0.25rem 0;
    font-size: 1.25rem;
}

.shop-nav ul > li:hover {
    cursor: pointer;
    background-color: #feeb22;
}