.shop-nav-v2 {
    /* margin: 8rem 0; */
    /* padding: 0 25rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    /* align-items: center; */
}

.shop-nav-v2 ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
    width: 75%;
    flex-wrap: wrap;
}

.shop-nav-v2 ul > li {
    /* width: 9rem; */
    text-align: center;
    padding: 0.25rem 0;
    font-size: 1.25rem;
}

.shop-nav-v2 ul > li:hover {
    cursor: pointer;
    color: black;
    background-color: #feeb22;
}

.shop-nav-v2 .img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

.shop-nav-v2 .img-container::before {
    content: "";
    display: block;
    padding-top: 51%; /* Adjust the padding-top to match the image's aspect ratio */
    background: url("../../../public/LandingPage2.jpg") center/cover no-repeat; /* Set the image as background */
  }

.shop-nav-v2 ul {
    position: absolute;
    bottom: 10%; /* Position the navigation links closer to the bottom */
    left: 50%; /* Position the navigation links horizontally centered */
    transform: translateX(-50%); /* Center the navigation links horizontally */
    z-index: 1; /* Place the navigation links above the image */
  }

.shop-nav-v2 ul li a {
    color: white;
    width: 100%;
    height: 100%;
}

.shop-nav-v2 ul li:hover a {
    color: black;
}