:host {
  --swiper-theme-color: #000;
}

body {
  box-sizing: border-box;
  /* margin: 4rem 5% 8rem 5%; */
  margin: 0;


  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Courier New', Courier, monospace;

  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Foundation Sans';
  src: url(./fonts/FoundationSans-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Apple Garamond Light';
  src: url(./fonts/applegaramond-light.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica-W01-Light';
  src: url(./fonts/Helvetica\ W01\ Light.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* font-family: 'Apple Garamond Light'; */
  margin: 0 0 1rem 0;
}

#root {
  --faq-item-bg-color: #F7F6F8;
}

#root>* {
  padding: 0 5%;
}

.darkgray-background {
  background-color: #484848;
  color: #fff;
}

.darkgray-background:hover {
  color: #000;
  /* background-color: #feeb22; */
}

.lightgray {
  color: #F2F1F2;
}

button:hover {
  cursor: pointer;
  background-color: #feeb22;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0 0.1rem 0 0.1rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

* {
  box-sizing: border-box;
}

.hero {
  position: relative;
  padding: 5% 0rem 2rem 8rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  align-items: center;
}

.hero .video-container {
  position: relative;
  overflow: hidden;
  width: 50vw;
  z-index: 4;
  display: none;
  height: 600px;
}

.hero .video-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  filter: drop-shadow(60px 15px 30px #555);
}

.hero-title {
  font-size: 5rem;
  max-width: 13ch;
  line-height: 1.1;
  color: #343434;
  mix-blend-mode: color-burn;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* position: relative; */
}

.hero-title-container {
  display: none;
  position: relative;
  z-index: 4;
}

.hero-title__overlay {
  position: absolute;
  font-size: 5rem;
  max-width: 13ch;
  line-height: 1.1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  top: 0;
}

.hero-title[data-overlay] {
  color: #000;
  position: absolute;
  top: 0;
  font-size: 5rem;
  max-width: 13ch;
  line-height: 1.1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  z-index: -2;
  mix-blend-mode: revert;
  display: none;
}

.hero .container {
  --max-width: 50rem;
  width: min(100% - 2rem, var(--max-width));
  margin-left: 15%;
}

.gradient-container {
  display: none;
}

#gradient-canvas {

  /* --gradient-color-1: #6ec3f4;
  --gradient-color-2: #3a3aff;
  --gradient-color-3: #ff61ab;
  --gradient-color-4: #E63946; */
  --gradient-color-1: #faaf08;
  --gradient-color-2: #fa812f;
  --gradient-color-3: #fa4032;
  --gradient-color-4: #e104ff;
  /* --gradient-color-4: #fdd475; */
  /* clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%); */
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
}

#gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 98%);
  pointer-events: none;
  /* Allow interactions with elements beneath the overlay */
}

.mobile {
  display: none;
}

@media screen and (max-width: 1440px) {
  .hero {
    padding-left: 8rem;
  }
}

/* mobile viewport */
@media screen and (max-width: 768px) {

  #root>* {
    padding: 0;
  }

  .mobile {
    display: block;
  }

  .hero {
    padding: 0;
  }

  .hero-title-container {
    top: 8rem;
    text-align: center;
  }

  .hero .hero-title {
    font-size: 3rem;
    width: 100%;
    display: inline-block;
  }

  #gradient-canvas {
    height: 100vh;
  }

  .hero-title[data-overlay] {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr;
  }
}