#money-back-guarantee {
    width: 100vw;
    height: 50vh;
    transform: translateX(-5%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(247, 157, 42);
    background: linear-gradient(63deg, rgba(247, 157, 42, 1) 28%, rgba(225, 4, 255, 1) 100%);
}

.money-back-guarantee-container {
    width: 50%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
    border-radius: 1rem;
    color: white;
}

#money-back-guarantee h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0;
    background-color: transparent;
}

#money-back-guarantee p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 0;
}

#money-back-guarantee hr {
    display: inline-block;
    margin: 1rem auto 1rem 0;
    width: 13ch;
    border: 2px solid white;
}